aip==1.0.0.5
aircv==1.4.6
baidu-aip==2.2.5.2
certifi==2018.8.24
chardet==3.0.4
cycler==0.10.0
demjson==2.2.4
Django==2.1
idna==2.7
kiwisolver==1.0.1
matplotlib==2.2.3
numpy==1.15.1
opencv-python==3.4.2.17
Pillow==5.2.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
requests==2.19.1
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
sklearn==0.0
torch==0.4.1
torchvision==0.2.1
urllib3==1.23
xmltodict==0.11.0
