<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container img {
            height: 200px;
        }
    </style>
</head>
<body>

<h1>图片列表</h1>
<div class="container" id="imgs">
    {% for img in img_list %}
        <img src="static/{{ img.path }}"/>
        <img src="static/{{ img.out }}"/>
        <span>{{ img.color }}</span>
    {% endfor %}
</div>

<input type="file" id="img"/>
<input type="button" value="提交JQ" onclick="Uploadjq()"/>
<script src="static/blue/js/jquery.min.js"></script>
<script>
    function Uploadjq() {
        var dic = new FormData();
        dic.append('fapiao', document.getElementById('img').files[0]);
        $.ajax({
            url: 'detect',
            type: 'POST',
            data: dic,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            dataType: 'JSON',
            success: function (arg) {
                if (arg.status) {
                    $('#imgs').append($("<img/>").attr("src", "static/" + arg.path));
                    $('#imgs').append($("<img/>").attr("src", "static/" + arg.out));
                }
            }
        })
    }
</script>
</body>
</html>